<!-- BEGIN: Aside Menu -->
               <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">
                  <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                     <li class="m-menu__item " aria-haspopup="true">
                        <a href="index.html" class="m-menu__link ">
                        <i class="m-menu__link-icon fa fa-home"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                        <span class="m-menu__link-text">Home</span>
                        </span>
                        </span>
                        </a>
                     </li>
                     <li class="m-menu__section ">
                        <h4 class="m-menu__section-text">Application Menus</h4>
                        <i class="m-menu__section-icon flaticon-more-v3"></i>
                     </li>
                     <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon flaticon-layers"></i>
                        <span class="m-menu__link-text">Projects</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu ">
                           <span class="m-menu__arrow"></span>
                           <ul class="m-menu__subnav">
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="searchProjectInfo.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet fa fa-search">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Search Project Info</span>
                                 </a>
                              </li>
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="CreateAccess.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet fa fa-user-plus">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Create Access</span>
                                 </a>
                              </li>
							  
                           </ul>
                        </div>
                     </li>
					 <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon fa fa-signal"></i>
                        <span class="m-menu__link-text">Sales</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu ">
                           <span class="m-menu__arrow"></span>
                           <ul class="m-menu__subnav">
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="CreateSalesTeam.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet fa fa-users">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Create Sales Team</span>
                                 </a>
                              </li>
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="ManageMembers.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet fa fa-users-cog">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Manage Members</span>
                                 </a>
                              </li>
                              
                           </ul>
                        </div>
                     </li>
					 <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon fa fa-th-list"></i>
                        <span class="m-menu__link-text">Template</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu ">
                           <span class="m-menu__arrow"></span>
                           <ul class="m-menu__subnav">
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="CreateTemplate.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Create Template</span>
                                 </a>
                              </li>
                              <li class="m-menu__item " aria-haspopup="true">
                                  <a href="SearchTemplate.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Search Templates</span>
                                 </a>
                              </li>
                              
                           </ul>
                        </div>
                     </li>
					 <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon fa fa-money-check-alt"></i>
                        <span class="m-menu__link-text">Price List</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu ">
                           <span class="m-menu__arrow"></span>
                           <ul class="m-menu__subnav">
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="searchPriceList.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Search Pricelist</span>
                                 </a>
                              </li>
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="ManagePriceList.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Manage Pricelist</span>
                                 </a>
                              </li>
                              
                           </ul>
                        </div>
                     </li>
					 <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon fa fa-newspaper"></i>
                        <span class="m-menu__link-text">RFE</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu ">
                           <span class="m-menu__arrow"></span>
                           <ul class="m-menu__subnav">
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="searchref.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Create RFE</span>
                                 </a>
                              </li>
                              
                           </ul>
                        </div>
                     </li>
					 <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon fa fa-newspaper"></i>
                        <span class="m-menu__link-text">Estimation</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu ">
                           <span class="m-menu__arrow"></span>
                           <ul class="m-menu__subnav">
                              
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="searchEstimation.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                 <span></span>
                                 </i>Create Estimation</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
					 <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon fa fa-newspaper"></i>
                        <span class="m-menu__link-text">Quotation</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu ">
                           <span class="m-menu__arrow"></span>
                           <ul class="m-menu__subnav">
                              <li class="m-menu__item " aria-haspopup="true">
                                 <a href="searchref.html" class="m-menu__link ">
                                 <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                 <span></span>
                                 </i>
                                 <span class="m-menu__link-text">Create Quotation</span>
                                 </a>
                              </li>
                              
                           </ul>
                        </div>
			</li>
                  </ul>
               </div>
               <!-- END: Aside Menu -->