body{
font-family:Poppins;
}
.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    margin-left: 10px;
}
.h3, h3 {
    font-size: 1.75rem;
}